* {
    box-sizing: inherit;
}

:root {
    box-sizing: border-box;
    font-size: 16px;
    --color-primary: #440088;
    --color-primary-dark: #220044;
    --font-color-primary: #ffffff;
    --font-color-primary-dark: #dddddd;
    --color-secondary: #cccccc;
    --color-secondary-dark: #888888;
    --font-color-secondary: #000000;
    --navbar-height: 4rem;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-primary);
}

img {
    user-select: none;
}

tbody tr:hover {
    background-color: rgba(196, 196, 196, 0.5);
}

tbody tr.active {
    background-color: rgba(64, 0, 128, 0.5);
}

a:active, a:focus, a:hover {
    color: var(--color-primary-dark);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

:disabled {
    cursor: not-allowed !important;
    opacity: 0.8;
}

.hidden {
    display: none;
}

.container {
    margin-top: 1em;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-bottom: 1em;
}

.col-1, .col-2, .col-3, .col-4 {
    padding: 0 1em;
}

.col-1 {
    width: 25%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 75%;
}

.col-4 {
    width: 100%;
}

.navbar-top {
    background-color: var(--color-primary);
    height: var(--navbar-height);
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
}

.navbar-top > .nav-main {
    color: var(--font-color-primary);
    font-size: 2rem;
    font-weight: bold;
    margin-left: 0.5em;
}

.navbar-top > .nav-link {
    color: var(--font-color-primary-dark);
    font-size: 1.5rem;
    margin-left: 1em;
}

.navbar-top > .nav-link:hover, .navbar-top > .nav-link:active, .navbar-top > .nav-link:focus {
    color: var(--font-color-primary);
    -webkit-text-stroke: 1px var(--font-color-primary-dark);
}

.navbar-top > .nav-link.active {
    color: var(--font-color-primary);
    -webkit-text-stroke: 1px var(--font-color-primary-dark);
}

.navbar-top > .nav-link-right {
    margin-right: 1em;
    margin-left: auto;
}

.btn {
    padding: 0.5em 1em;
    border: none;
    outline: none;
    border-radius: 0.5em;
    font-size: 1em;
    cursor: pointer;
    user-select: none;
}

.btn:hover, .btn:active, .btn:focus {
    border: none;
    outline: none;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--font-color-primary);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: var(--color-primary-dark);
}

.btn-secondary {
    background-color: var(--color-secondary);
    color: var(--font-color-secondary);
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
    background-color: var(--color-secondary-dark);
}

.btn-red {
    background-color: #cc2222;
    color: #ffffff;
}

.btn-red:hover, .btn-red:active, .btn-red:focus {
    background-color: #aa0000;
}

.input {
    outline: none;
    font-size: 1em;
    padding: 0.5em 1em;
    border: 2px solid var(--color-secondary-dark);
    border-radius: 0.5em;
    width: 100%;
    margin: 0.5em 0;
}

.input:focus {
    box-shadow: 0 0 2px 3px rgba(64, 0, 128, 0.5);
}

.input.input-error {
    border: 2px solid #aa0000;
}

.input.input-error:focus {
    box-shadow: 0 0 2px 3px rgba(128, 0, 0, 0.5);
}

.error-text {
    color: #aa0000;
    margin-bottom: 1em;
}
